@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz@10..48&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');


body {
    margin: 0;
    padding: 0;
  }
  
.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url(./bg-items);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: scroll;
  }

  
/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
  }
  
.navbar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-weight: bold;
    transition: ease 1s;
  }
  
  .navbar a:hover {
    color: rgb(28, 97, 248);
  }
  
  /* Style the header */
header {
    position: relative;
    background: rgb(161, 247, 167);
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1rem 1rem rgb(95, 185, 140);
  }
  
header .icon a {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
  }

.head {
    font-size: 3rem;
    font-family: Borel;
    color: rgb(118, 14, 14);
    width: 100%;
    text-align: center;
  }

p {
    font-size: 2rem;
    font-family: Libre Baskerville;
    text-align: center;
  }

@media (max-width: 850px) {
  .info{
        font-size: 1.6rem;
    }
  }

img {
    height: 24rem;
    width: 24rem;
    border-radius: 30rem;
    display: block; 
    margin-left: auto;
    margin-right: auto;  
  }

h2 {
    font-size: 2.5rem;
    text-align: center;
}  
