<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_static.css">
    <title>Home</title>
</head>
<body>
    <div class="main">
        <header>
            <nav class="navbar">
                <a href="/home">Home</a>
                <a href="/submit">Diet</a>
                <a href="/fav">FavDiet</a>
                <a href="/calorie">calorie tracker</a>
                <a href="/exercise">Fitness Tracker</a>
                <a href="/display">profile</a>
            </nav>
        </header>

        <h1 class="head">Looking Healthy and Being Healthy</h1>
        <img src="images/look-and-be.png" alt="tt">
        <p class="info">Being healthy will look different for different people and <br>
             is all about your overall physical and mental wellbeing. <br>
            Too often we see people on social media flashing their 6-pack abs or <br> showing off their toned bods in size zero leggings, <br>
             and we automatically assume that because they’re fit, <br> their diet must be ideal. <br> This is so far from the case. <br> <br>
            Just like there are thin people who aren’t healthy on the inside, <br> there are overweight people <br> who don’t present with clinical signs of poor health.
            <br> This is known as metabolically healthy obesity. <br>
            Dieting of any type is likely to make you look healthy at least at first. <br> <br> Most diets result in weight loss initially by cutting out the main
            <br> culprits of weight gain – excessive calories from refined carbs, fried food, <br> and processed junk food. <br>
            Being thin – or even physically fit – doesn’t always reflect <br> what’s going on on the inside. We all had that college friend who literally <br>
             couldn’t tell you how to get to the gym and spent most evenings chugging beers and <br> scarfing pizza – yet never gained the freshman 15 like the rest of us.
             <br> That’s not an endorsement for the pizza diet, <br> that’s called good genes. <br> <br>
            So, just like you wouldn’t follow the dietary advice of your fast-food loving thin friend, <br> why would you trust the recommendations of someone online
            <br> trying to convince you that their diet is good for your health <br>simply because they have a six-pack?
            </p>


        <h1 class="head"> <br><br> Why diet... why not only exercise?</h1>
        <img src="images/diet-exercise.jpeg" alt="kk">
        <p>Many people misunderstand the relationship that exists between food and exercise, <br>
             but the fact remains that the former is an <br> underlying fuel source that drives the latter. <br>
             Without the right caloric intake, energy, and nutrients in your body, <br> it is impossible to 
             exercise effectively <br> and achieve the weight loss that you desire. <br><br>
             Eating a well-balanced diet can help you get the calories <br> and nutrients you need to fuel your daily activities, <br>
              including regular exercise. <br><br>

             When it comes to eating foods to fuel your exercise performance, <br>
              it’s not as simple as choosing vegetables over doughnuts. <br> 
               You need to eat the right types of food <br> at the right times of the day. <br><br>
            
               While both diet and exercise are important for weight loss, <br>
                it’s generally easier to manage your calorie intake <br> by modifying your diet than it is to burn <br>
                 significantly more calories through exercise. <br> 

               This may be why the 80/20 rule has become popular, <br>
                as it states that weight loss is the result of 80% diet and 20% exercise. <br><br>

                If you don’t challenge your muscles through resistance training, <br>
                 you won’t build muscles simply by eating a high protein diet. <br>
                  Likewise, if you do engage in <br> strength training exercise but
                   don’t consume enough protein, <br> it will be difficult to gain muscle</p>

        <h1 class="head"><br><br> Good water intake</h1>
       <img src="images/water-intake.png" alt="jj">     
       <p>Getting enough water every day is <br> important for your health. <br>
        Drinking water can prevent dehydration, <br> a condition that can cause unclear thinking, <br>
        result in mood change, cause your body to overheat, <br> and lead to constipation and kidney stones. <br><br>

        Water has no calories, so it can also help with <br> managing body weight 
        and reducing calorie intake <br> when substituted for drinks with calories, <br>
        such as sweet tea or regular soda. <br><br>
        
        Water helps your body: <br>
        
    -Keep a normal temperature. <br>
       - Lubricate and cushion joints. <br>
       - Protect your spinal cord and other sensitive tissues. <br>
       - Get rid of wastes through urination, perspiration, and bowel movements.</p>    
       
       <h1 class="head"><br><br>this is how we help you</h1>
       <img src="images/help-you.jpeg" alt="kk">
       <p>In today's fast-paced world, <br>
        where dietary choices often lean towards convenience rather than nutritional value, <br>
         offering guidance and support can make a significant <br> difference in people's lives. <br>
         Here we are to keep you in a perfect way... <br><br>
        
         A well-structured diet plan is essential <br> for maintaining good health 
         and preventing a multitude of chronic diseases. <br>
          However, crafting an optimal diet plan can be a daunting task <br>
          for many individuals due to the <br> abundance of conflicting information and personal preferences <br><br>
        
          Firstly, providing personalized guidance takes into account <br> an individual's 
          unique dietary requirements, preferences, and goals. <br>
           A holistic approach considers factors like age, gender, activity level, <br>
           and any pre-existing medical conditions. <br><br>
        
        We are here to provide you a typical diet plan that includes : <br> </p>
        <h2> Nutritional Information:</h2> <p>Detailed information about the nutritional content of various foods. <br>
             This includes data on <br> carbohydrates, proteins, fats, calories, and serving sizes.</p>
        <h2>Personalization:</h2> <p>diet plans based on individual factors such as <br> age, gender,
             activity level, <br> dietary preferences, and health goals.</p>    
        <h2>Meal Planning:</h2> <p>Users can select from a variety of recipes and foods, <br>
             and the platform may automatically calculate <br> the nutritional information for each meal.</p>     
        <h2>Calorie Tracking:</h2> <p>Users can log the foods they eat and track their daily caloric <br> intake,
             helping them stay within their desired calorie range <br> to support weight management goals.</p>       

       <h1 class="head"><br><br> join us...</h1>
       <img src="images/join.jpeg" alt="tt">
       <p>A perfect diet is not just a collection of foods, <br> but a carefully 
        crafted balance that promotes optimal health and well-being. <br>
         Joining the journey towards a perfect diet requires <br> a combination 
         of knowledge, intention, and consistent effort. <br><br>

        The foundation of a perfect diet lies in understanding 
        the importance of nutrients. <br> Essential vitamins, minerals, carbohydrates,
        proteins, and fats <br> play distinct roles in our body's functions. <br>
        By learning about their functions and sources, <br>
        we can make informed choices to include a variety of foods <br> that provide these nutrients. <br><br>

        Joining the pursuit of a perfect diet involves embracing diversity. <br>
        Different foods offer unique benefits, <br> and a balanced diet includes a wide range of <br>
        fruits, vegetables, whole grains, lean proteins, and healthy fats. <br>
        The colors of our plate can represent a spectrum of nutrients <br> that collectively contribute to our well-being. <br><br>

        However, a perfect diet isn't just about what we eat, <br>
        but also how much we consume. <br> Portion control is key to avoid overeating and <br>
        maintain a healthy weight. <br> Additionally, mindful eating encourages us to savor each bite, <br>
        leading to better digestion and satisfaction. <br><br>

        The journey to a perfect diet is a collaborative effort that <br>
        involves learning, intention, and mindful choices. <br>
        By embracing diversity, understanding individual needs, <br>
        and prioritizing nutrient-rich foods, we pave the way for a healthier 
        and happier life. <br> So, join us in making conscious decisions to create <br>
        a perfect diet that nourishes our body, mind, and soul. <br>
       </p>
       
    </div>
</body>
</html>